<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simon vm</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <div class="container" style="max-width: 800px">
        <a class="navbar-brand" href="/">Simon van Meegdenburg</a>
        <div>
          <a class="btn btn-outline-primary me-2" href="/">Verhaal</a>
          <a class="btn btn-outline-primary" href="/cv">CV</a>
        </div>
      </div>
    </nav>

    <div class="container mb-5" style="max-width: 800px">
      <img
        src="static/images/profile.jpg"
        alt="Profielfoto"
        class="profile-photo-integrated mt-4"
      />{% block content %}{% endblock %}

      <div class="mt-4">
        <a href="mailto:work.simonvm@outlook.com" class="btn btn-primary btn-lg"
          >Stuur mij een e-mail</a
        >
      </div>
    </div>

    <footer class="text-center py-4">
      <small
        >© 2026 Simon van Meegdenburg |
        <a href="mailto:work.simonvm@outlook.com">Email mij</a></small
      >
    </footer>
  </body>
</html>
